.apexcharts-legend-marker {
	margin-right: 10px !important;
    border: none !important;
    height: 15px !important;
    width: 30px !important;
    border-radius: 3px !important;
}
.apexcharts-legend-text {
    font-size: 14px !important;
    color: var(--clr-body-heading) !important;
    font-weight: 600 !important;
    font-family: 'Nunito Sans', sans-serif !important;
}
.apexcharts-legend-series {
	display: inline-flex !important;
	margin-left: 20px !important;
}
.apexcharts-legend {
    top: 0px !important;
    display: inline-flex !important;
    padding: 0 5px !important;
    @media (max-width: 575px) {
        left: 0px !important;
        right: auto !important;
        margin: 10px 0px !important;
        top: 13px !important;
      }
}
.apexcharts-title-text {
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    color: var(--clr-body-heading) !important;
    transform: translateX(12px) !important;
    font-family: 'Nunito Sans', sans-serif !important;
}
#chartBar {
	width: calc(100% - 16px);
    overflow: hidden;
}
.apexcharts-xaxis-label,
.apexcharts-yaxis-label {
    font-size: 14px;
    color: var(--clr-body-bodyText);
    font-family: 'Nunito Sans', sans-serif !important;
}
.apexcharts-toolbar {
	display: none !important;
}